*     {
    box-sizing: border-box;
}
html,
body   {
    margin:0;
    padding:0;
    line-height: 1.5;
    font-size: 16px;
    height:100%;
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif,Serif;
}

/* styling our overall page */
body {
    text-align: center;
    background-color: #000d1b;
    background-image: url("https://static.pexels.com/photos/65035/pexels-photo-65035.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#profpic{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid deepskyblue;
    float:right;
    margin-right:100px;
}

#content{
    margin:auto;
    background: rgb(20,20 ,30 );
    background: rgba(20,20 ,30 , .3);
    height:750px;
    width:750px;
}

h1{
    line-height: 0.9;
    padding-left:20px;
}
.top-content   {
    color: #FFF;
    padding-top:70px;
}
.top-content h3   {
    font-family: "Century Gothic";
}

.top-left{
    color:cyan;
    font-size:40px;
    text-align: left;
    padding-left: 30px;
    float:left;
    font-family: "Impact";
}

.top-content p    {
    font-size: 50px;
}

.bottom-nav ul{
    height:70px;
    text-align:center;
    font-size:22px;
    font-family: "Century Gothic";
    color: #ffffff;
    position:fixed;
    bottom:0;
    width:100%;
    list-style: none;
    opacity:0.9;
}

.bottom-nav ul li{
    display: inline;
    list-style: none;
    padding : 20px 60px;
}

.bottom-nav ul li a{
    color:inherit;
    text-decoration: none;
}
