html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}

body     {
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

header   {
  background: #222;
  color: #FFF;
  padding: 20px 30px;
}

/*.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}*/

.container{
    max-width:800px;
    margin:0 auto;
    color:#4a4a4a;
    font-family:sans-serif;
    padding-left:20px;
    padding-right:20px;
}

nav     {
  width: 50%;
  display: inline-block;
  text-align: right;
}
nav ul   {
  list-style: none;
  margin: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a    {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}
nav ul li a:hover   {
  background: #444;
}

.hero-content   {
  color: #FFF;
  padding-top: 130px;
  opacity:1;
}
.hero-content h1   {
  font-size: 100px;
  margin: 0;
  opacity:1;
}

.hero-content p    {
  font-size: 50px;
  opacity:1;
}

.hero-content a    {
  display: inline-block;
  color: #FFF;
  border: 3px solid #FFF;
  border-radius: 3px;
  padding: 15px 30px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 28px;
  opacity:1;
}

.hero           {
  min-height: 800px;
  text-align: center;
  background-image: url('http://static.wixstatic.com/media/f844a81ff14743ba92ef5f4f498aa2c8.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  opacity: 0.5;
}

.hero-content a:hover{
       background: rgb(54, 25, 25);
    background: rgba(54, 25, 25, .5);
}

h3{
    text-align:center;
    padding-bottom:30px;
}