html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  height:100%;
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}


header   {
  background: rgb(20, 20, 30);
  background: rgba(20, 20, 30, .5);
  color: #FFF;
  padding: 3px 20px;
}

#logo         {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  width: 100%;
  text-align:left;
}


#logo span   {
  display: inline-block;
}

/*.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}*/

.container{
    max-width:800px;
    margin:0 auto;
    color:#4a4a4a;
    font-family:sans-serif;
    padding-left:20px;
    padding-right:20px;
}

nav     {
  width: 100%;
  display: inline-block;
  text-align: right;
}
nav ul   {
  list-style: none;
  margin: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a    {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 15px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}
nav ul li a:hover   {
  background: #444;
}

body          {
  text-align: center;
  background-image: url('http://cdn.paper4pc.com/images/cityscapes-night-cities-wallpaper-2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}


.hero-content   {
  color: #FFF;
  padding-top: 130px;
}

.hero-content h1   {
  font-size: 100px;
  margin: 0;
}

.hero-content p    {
  font-size: 50px;
}

.hero-content a    {
  display: inline-block;
  color: #FFF;
  border: 3px solid #FFF;
  border-radius: 3px;
  padding: 15px 30px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 28px;
}


.hero-content a:hover{
    background: rgb(54, 25, 25);
    background: rgba(54, 25, 25, .5);
}

h3{
    text-align:center;
    padding-bottom:30px;
}